@use '../../common/base.scss' as *;
.livetime {
    box-sizing: border-box;
    padding: 30px 0;
    .time-title {
        font-size: 28px;
        padding: 10px 15px;
        .time-title-li {
            span {
                color: var(--adm-color-primary);
            }
        }
    }
    .income-li {
        border-bottom: 1px solid var(--table-border-bg);
        border-top: 1px solid #e3e3e3;
        font-size: 14px;
        margin: 10px 0;
        padding: 10px 15px;
        font-size: 28px;
        margin-bottom: 40px;
    }
    .time-table {
        box-sizing: border-box;
        padding: 30px;
    }
    table {
        border-collapse: collapse;
        width: 100%;
        color: var(--font-color);
        .adm-empty {
            margin: auto;
        }
    }
    .red {
        color: var(--adm-color-primary);
    }
    th,
    td {
        text-align: center;
        border: 1px solid var(--table-border-bg);
        line-height: 32px;
        height: 60px;
        font-size: 20px;
        font-weight: 400;
        word-break: break-all;
        width: 20%;
    }
    .start-div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120px;
        border-bottom: 1px solid var(--table-border-bg);
        .start-li {
            font-size: 28px;
            margin-right: 40px;
        }
    }
    .submit-button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px 0;
        button {
            width: 80%;
        }
    }
}
