@use '../../../common/yiyabase.scss' as *;
body {
    background: transparent;
}
#app {
    overflow: hidden;
}
.week__full {
    height: 100vh;
    overflow-y: auto;
    background: #06092d;
}
.weekstar {
    .drawer-content {
        background: transparent;
        overflow: hidden;
        height: 1272px;
        .close-btn {
            display: none;
        }
    }
}

.heart__warp {
    box-sizing: border-box;
    width: 750px;
    height: 1272px;
    background: img-url('/heartBengbeng/bg.png?v=2') no-repeat;
    background-size: 100% 100%;
    padding-top: 200px;
    position: relative;
    .heart__title {
        width: 352px;
        height: 117px;
        background: img-url('/heartBengbeng/bg_title.png?v=1') no-repeat;
        background-size: 100% 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 83px;
    }
    .heart__warp-banner {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        .money__icon {
            width: 150px;
            height: 62px;
            background: img-url('/heartBengbeng/rule_btn.png?v=1') no-repeat;
            background-size: 100% 100%;
            font-weight: 500;
            font-size: 26px;
            color: #ffffff;
            position: absolute;
            left: 0px;
            bottom: 320px;
            display: flex;
            justify-content: center;
            align-items: center;
            span:nth-of-type(1) {
                width: 40px;
                height: 40px;
                background: img-url('/heartBengbeng/bi.png?v=1') no-repeat;
                background-size: 100% 100%;
            }
        }
        .rule__icon {
            width: 150px;
            height: 62px;
            background: img-url('/heartBengbeng/rule_btn.png?v=1') no-repeat;
            background-size: 100% 100%;
            font-weight: 500;
            font-size: 26px;
            color: #ffffff;
            position: absolute;
            left: 0px;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .rank__icon {
            width: 150px;
            height: 62px;
            background: img-url('/heartBengbeng/rank_btn.png?v=1') no-repeat;
            background-size: 100% 100%;
            font-weight: 500;
            font-size: 26px;
            color: #ffffff;
            position: absolute;
            right: 0px;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            span:nth-of-type(1) {
                width: 54px;
                height: 62px;
                background: img-url('/heartBengbeng/r_icon.png?v=1') no-repeat;
                background-size: 100% 100%;
            }
        }
        .ra_tips {
            font-weight: 600;
            font-size: 24px;
            color: #ffffff;
            text-align: center;
            height: 60px;
            line-height: 60px;
        }
        .users-warp {
            width: 670px;
            height: 121px;
            background: img-url('/heartBengbeng/list_bg.png?v=1') no-repeat;
            background-size: 100% 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 17px auto 30px auto;
            .users-warp-left {
                width: 46px;
                height: 121px;
                background: linear-gradient(180deg, #ff9bed 0%, #a34bff 100%);
                box-shadow: inset 0px 0px 20px 0px rgba(255, 255, 255, 0.5);
                border-radius: 30px 0px 0px 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-weight: 500;
                font-size: 24px;
                color: #ffffff;
            }
            .users-warp-right {
                width: 610px;
                overflow-x: auto;
                ul {
                    display: flex;
                    justify-content: left;
                    align-items: center;
                    white-space: nowrap; /* 确保内联元素在一行显示 */
                    overflow-x: auto; /* 允许水平滚动 */
                    width: 100%; /* 容器宽度，根据需要设置 */
                    li {
                        margin-right: 14px;
                        flex: 0 0 auto;
                        .users_right-spic {
                            width: 94px;
                            height: 94px;
                            border: 3px solid transparent;
                            border-radius: 50%;
                            img {
                                width: 94px;
                                height: 94px;
                            }
                            // border-image: linear-gradient(
                            //     125deg,
                            //     rgba(255, 119, 255, 1),
                            //     rgba(255, 35, 242, 1)
                            // );
                        }
                        .right-spic-icon {
                            width: 54px;
                            height: 24px;
                            background: img-url('/heartBengbeng/seat_1.png?v=1')
                                no-repeat;
                            background-size: 100% 100%;
                            font-weight: 600;
                            font-size: 16px;
                            color: #ffffff;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin: -20px auto 0 auto;
                        }
                        &.active {
                            .users_right-spic {
                                border: 3px solid rgba(255, 35, 242, 1);
                            }
                        }
                    }
                }
            }
        }
        .heart__main {
            width: 750px;
            height: 852px;
            background: img-url('/heartBengbeng/lun.png?v=1') no-repeat;
            background-size: 100% 100%;
            .g_text {
                font-weight: 500;
                font-size: 26px;
                color: #bd2e72;
                width: 120px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 636px;
                z-index: 2;
            }
            .gift_user {
                display: flex;
                align-items: center;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 536px;
                width: 178px;
                z-index: 2;
                .g_user-1 {
                    img {
                        width: 86px;
                        height: 86px;
                        border: 2px solid gba(241, 125, 167, 1);
                        border-radius: 50%;
                        box-sizing: border-box;
                    }
                    margin-right: 6px;
                }
                .g_user-2 {
                    img {
                        width: 86px;
                        height: 86px;
                        border: 2px solid gba(241, 125, 167, 1);
                        border-radius: 50%;
                        box-sizing: border-box;
                    }
                }
                .heart_icon {
                    width: 40px;
                    height: 34px;
                    background: img-url('/heartBengbeng/heart_icon.png?v=1')
                        no-repeat;
                    background-size: 100% 100%;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%) translateY(-50%);
                    top: 50%;
                }
            }
            .gift_ul {
                ul {
                    li:nth-of-type(1) {
                        position: absolute;
                        width: 168px;
                        height: 184px;
                        left: 36px;
                        top: 380px;
                        .gift__warp {
                            width: 168px;
                            height: 184px;
                            background: img-url('/heartBengbeng/g_icon.png?v=1')
                                no-repeat;
                            background-size: 100% 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            img {
                                width: 140px;
                                height: 140px;
                            }
                        }
                        .gift_name {
                            width: 170px;
                            height: 51px;
                            background: img-url('/heartBengbeng/g_name.png?v=1')
                                no-repeat;
                            background-size: 100% 100%;
                            font-weight: 500;
                            font-size: 24px;
                            color: #bd2e72;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                            bottom: 0;
                        }
                        .gift_label {
                            position: absolute;
                            left: -10px;
                            top: 0;
                            width: 78px;
                            height: 40px;
                            background: img-url('/heartBengbeng/1.png?v=1')
                                no-repeat;
                            background-size: 100% 100%;
                            font-weight: 500;
                            font-size: 24px;
                            color: #fff;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                        .gift_money {
                            width: 113px;
                            height: 39px;
                            background: img-url('/heartBengbeng/c_bg.png?v=1')
                                no-repeat;
                            background-size: 100% 100%;
                            font-weight: 500;
                            font-size: 24px;
                            color: #fff;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin: auto;
                            span:nth-of-type(1) {
                                width: 30px;
                                height: 30px;
                                background: img-url('/heartBengbeng/bi.png?v=1')
                                    no-repeat;
                                background-size: 100% 100%;
                            }
                        }
                    }
                }
            }
            .btns_warp {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 220px;
                display: flex;
                justify-content: center;
                align-self: center;
                .btns_1 {
                    width: 238px;
                    height: 102px;
                    background: img-url('/heartBengbeng/btn_1.png?v=1')
                        no-repeat;
                    background-size: 100% 100%;
                    margin-right: 10px;
                    box-sizing: border-box;
                    padding-top: 6px;
                    div:nth-of-type(1) {
                        font-family: YouSheBiaoTiYuan;
                        font-size: 30px;
                        color: #ffffff;
                        line-height: 49px;
                        text-shadow: 0px 4px 0px #bb3b7d;
                        // -webkit-text-stroke: 1px #fab6ff;
                        text-align: center;
                        font-style: normal;
                        font-weight: 700;
                    }
                    div:nth-of-type(2) {
                        font-weight: 400;
                        font-size: 20px;
                        color: rgba(255, 255, 255, 0.7);
                        text-align: center;
                        margin-top: -10px;
                    }
                }
                .btns_2 {
                    width: 238px;
                    height: 102px;
                    background: img-url('/heartBengbeng/btn_2.png?v=1')
                        no-repeat;
                    background-size: 100% 100%;
                    box-sizing: border-box;
                    padding-top: 6px;
                    div:nth-of-type(1) {
                        font-family: YouSheBiaoTiYuan;
                        font-size: 30px;
                        color: #ffffff;
                        line-height: 49px;
                        text-shadow: 0px 4px 0px #bb3b7d;
                        // -webkit-text-stroke: 1px #fab6ff;
                        text-align: center;
                        font-style: normal;
                        font-weight: 700;
                    }
                    div:nth-of-type(2) {
                        font-weight: 400;
                        font-size: 20px;
                        color: rgba(255, 255, 255, 0.7);
                        text-align: center;
                        margin-top: -10px;
                    }
                }
                .btns_1:active {
                    opacity: 0.7;
                }
                .btns_2:active {
                    opacity: 0.7;
                }
            }
        }
    }
    .heart__rank-warp {
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        .rank__nav {
            box-sizing: border-box;
            padding: 0 30px;
            margin-top: -30px;
            .rank__rank-icon {
                width: 80px;
                height: 80px;
                background: img-url('/heartBengbeng/back.png?v=1') top center
                    no-repeat;
                background-size: 40px 40px;
            }
        }
    }
    .tem-tab-warp {
        width: 750px;

        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;

        position: relative;
        box-sizing: border-box;
    }
    .tem-tab {
        // background: #7053ff;
        // border-radius: 13px;
        box-sizing: border-box;
        // padding: 30px;

        .adm-tabs-header {
            border-bottom: none;

            margin: auto;
            width: 481px;
            height: 60px;
            background: rgba(255, 255, 255, 0.2);
            border-radius: 34px;
            border: 2px solid rgba(255, 255, 255, 0.24);
        }
        .adm-tabs-tab-wrapper-stretch {
            width: 160px;
            height: 60px;
            padding: 0;
            .adm-tabs-tab {
                width: 156px;
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0;
                margin-top: 0px;
                font-size: 26px;
                font-family:
                    PingFangSC-Semibold,
                    PingFang SC;
                font-weight: 600;
                color: #ffffff;
                position: relative;
            }
            .adm-tabs-tab-active {
                font-size: 26px;
                font-family:
                    PingFangSC-Semibold,
                    PingFang SC;
                font-weight: 600;
                color: #fff;
                width: 156px;
                height: 60px;

                background: img-url('/heartBengbeng/tab.png?v=1') no-repeat;
                background-size: 100% 100%;
            }
        }
    }
    .rank_two-warp {
        ul {
            position: relative;
            box-sizing: border-box;
            li {
                width: 716px;
                height: 497px;

                background: img-url('/heartBengbeng/rank_tab2_bg.png?v=1')
                    center center no-repeat;
                background-size: 750px 497px;
                box-sizing: border-box;
                padding-top: 128px;
                .rank_one-alias {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    div {
                        width: 135px;
                        height: 40px;
                        background: img-url('/heartBengbeng/g_name.png?v=1')
                            no-repeat;
                        background-size: 100% 100%;
                        font-weight: 500;
                        font-size: 20px;
                        color: #bd2e72;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }

                .rank_one-text {
                    width: 440px;
                }
                .rank_one-info {
                    display: flex;
                    align-items: center;
                    width: 234px;
                    position: relative;
                    margin: auto;
                    .one_info-1 {
                        img {
                            width: 114px;
                            height: 114px;
                            border: 3px solid #fff8d8;
                            border-radius: 50%;
                            box-sizing: border-box;
                        }
                        margin-right: 6px;
                    }
                    .one_info-2 {
                        img {
                            width: 114px;
                            height: 114px;
                            border: 3px solid #fff8d8;
                            border-radius: 50%;
                            box-sizing: border-box;
                        }
                    }
                    .one_info-heart {
                        width: 40px;
                        height: 34px;
                        background: img-url('/heartBengbeng/heart_icon.png?v=1')
                            no-repeat;
                        background-size: 100% 100%;
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%) translateY(-50%);
                        top: 50%;
                    }
                }
            }

            .li__nodata {
                font-size: 24px;

                font-weight: bold;
                color: #955274;
                text-align: center;
                padding-top: 360px;
            }
        }
    }
    .rank_one-warp {
        ul {
            position: relative;
            box-sizing: border-box;
            li {
                width: 716px;
                height: 160px;

                background: img-url('/heartBengbeng/rank_tab1_bg.png?v=1')
                    no-repeat;
                background-size: 100% 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 20px;
                .rank_one-text {
                    width: 440px;
                }
                .rank_one-info {
                    display: flex;
                    align-items: center;
                    width: 206px;
                    position: relative;
                    margin: auto;
                    .one_info-1 {
                        img {
                            width: 100px;
                            height: 100px;
                            border: 3px solid #fff8d8;
                            border-radius: 50%;
                            box-sizing: border-box;
                        }
                        margin-right: 6px;
                    }
                    .one_info-2 {
                        img {
                            width: 100px;
                            height: 100px;
                            border: 3px solid #fff8d8;
                            border-radius: 50%;
                            box-sizing: border-box;
                        }
                    }
                    .one_info-heart {
                        width: 40px;
                        height: 34px;
                        background: img-url('/heartBengbeng/heart_icon.png?v=1')
                            no-repeat;
                        background-size: 100% 100%;
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%) translateY(-50%);
                        top: 50%;
                    }
                }
            }

            .li__nodata {
                font-size: 24px;

                font-weight: bold;
                color: #955274;
                text-align: center;
                padding-top: 360px;
            }
        }
    }
    .heart__rank {
        width: 716px;
        margin-top: 30px;
        .rank__tab {
            width: 716px;

            margin: auto;

            position: relative;
            box-sizing: border-box;

            height: 900px;
            overflow-y: auto;
            .rank__tab-content {
                margin: auto;
            }
        }
    }
}

.weekstar-alert {
    .center-content {
        .close-btn {
            display: none;
            svg {
                fill: #fff;
            }
        }

        overflow-y: auto;
        width: 538px;
        height: 541px;
        background: img-url('/heartBengbeng/rule_a_bg.png?v=1') no-repeat;
        background-size: 100% 100%;
        box-sizing: border-box;
        // padding-top: 30px;
        .title-icon {
            width: 239px;
            height: 55px;
            background: img-url('/heartBengbeng/rule_t.png?v=1') no-repeat;
            background-size: 100% 100%;
            margin: 30px auto;
        }
        .rule__h1 {
            color: #d578a5;
            font-weight: 700;
            font-size: 26px;
        }
        .rule_a_btn {
            width: 397px;
            height: 88px;
            background: img-url('/heartBengbeng/rule_a_btn.png?v=1') no-repeat;
            background-size: 100% 100%;
            margin: 30px auto;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-weight: 700;
            font-size: 26px;
        }
    }
}

.result-alert {
    .center-content {
        .close-btn {
            display: none;
            svg {
                fill: #fff;
            }
        }

        overflow-y: auto;
        width: 573px;
        height: 658px;
        background: img-url('/heartBengbeng/r_bg.png?v=1') no-repeat;
        background-size: 100% 100%;
        box-sizing: border-box;
        padding-top: 93px;
        .r_btns {
            display: flex;
            justify-content: center;
            align-items: center;
            .rule_a_btn {
                width: 212px;
                height: 98px;
                background: img-url('/heartBengbeng/r_btn_2.png?v=1') no-repeat;
                background-size: 100% 100%;

                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                font-weight: 700;
                font-size: 26px;
                margin-right: 20px;
            }
            .rule_b_btn {
                width: 212px;
                height: 98px;
                background: img-url('/heartBengbeng/r_btn-1.png?v=1') no-repeat;
                background-size: 100% 100%;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .rule_b_btn-div2 {
                    font-weight: 600;
                    font-size: 28px;
                    color: #ffffff;
                    text-align: center;
                }
                .rule_b_btn-div1 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: 500;
                    font-size: 24px;
                    color: #ffffff;
                    span:nth-of-type(1) {
                        width: 30px;
                        height: 30px;
                        background: img-url('/heartBengbeng/bi.png?v=1')
                            no-repeat;
                        background-size: 100% 100%;
                        margin-right: 6px;
                    }
                }
            }
        }

        .result_user {
            display: flex;
            align-items: center;
            width: 234px;
            position: relative;
            margin: auto;
            .result_user_user-1 {
                img {
                    width: 114px;
                    height: 114px;
                    border: 2px solid gba(241, 125, 167, 1);
                    border-radius: 50%;
                    box-sizing: border-box;
                }
                margin-right: 6px;
            }
            .result_user_user-2 {
                img {
                    width: 114px;
                    height: 114px;
                    border: 2px solid gba(241, 125, 167, 1);
                    border-radius: 50%;
                    box-sizing: border-box;
                }
            }
            .r_heart_icon {
                width: 40px;
                height: 34px;
                background: img-url('/heartBengbeng/heart_icon.png?v=1')
                    no-repeat;
                background-size: 100% 100%;
                position: absolute;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                top: 50%;
            }
        }
        .r_text1 {
            font-size: 28px;
            color: #bd2e72;
            font-weight: 700;
        }
        .r_text2 {
            font-weight: 400;
            font-size: 24px;
            color: #802b53;
        }
    }
}
.paste {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    div {
        width: 720px;
        height: 822px;
        background: img-url('/star/paste1.png?v=1') no-repeat;
        background-size: 100% 100%;
    }
}
.heart__warp3 {
    padding-bottom: 80px;
}
