@use '../../../../common/yiyabase' as *;
@include borderv(var(--adm-border-color), 1px);

.apply-page {
    background: var(--bg-color);
    bottom: 0;
    box-sizing: border-box;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 100px 0 120px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    color: var(--font-color);
}
.apply-user-info {
    font-size: 32px;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 90px;
    padding: 0 0 0 30px;
    background: var(--bg-color);
    .label {
        width: 160px;
    }
    .main {
        width: 520px;
        display: flex;
        justify-content: center;
        align-items: center;

        span:nth-of-type(1) {
            max-width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        span:nth-of-type(2) {
            width: 200px;
        }
        span:nth-of-type(3) {
            width: 160px;
        }
    }
}

.apply-form {
    box-sizing: border-box;
    padding: 30px 74px;
    .adm-list-default {
        border-top: none;
    }
    .adm-form-item-child-inner {
        height: 82px;
        background: #f8f8f8;
        box-sizing: border-box;
        padding: 0 20px;
        border-radius: 6px;
    }
    .adm-list-item:nth-of-type(2) .adm-form-item-child-inner {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .adm-input {
        height: 82px;
    }
    .adm-list-item-content-extra {
        height: 82px;
        background: #f8f8f8;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        button {
            background: transparent;
            border: none;
            height: 82px;
        }
    }
    .adm-list-item-description {
        position: absolute;
    }
    .adm-list-item {
        margin-bottom: 20px;
    }
    .adm-input-element::placeholder {
        color: #999;
    }
    .c-button {
        height: 82px;
    }
    .o-form-tip {
        color: var(--font-tip-color);
        font-size: 24px;
        margin: 0;
        padding: 20px 30px;
        strong {
            color: var(--font-strong-color);
        }
    }
    .rule-text {
        span {
            color: var(--font-strong-color);
        }
    }
    .r__btn {
        padding: 0px 24px;
        button {
            background: #292b3c;
            border: none;
            color: rgba(255, 255, 255, 0.4);
        }
    }
}
