@use '../../../../common/yiyabase.scss' as *;
body {
    background: var(--bg-color);
}
.user-rule {
    padding: 30px;
    box-sizing: border-box;
    h1 {
        font-size: 38px;
        text-align: center;
    }
    .date-rule {
        margin-top: 10px;
        font-size: 24px;
        text-align: left;
    }
    .rule-content {
        h3 {
            font-size: 28px;
            margin: 10px 0 10px 0;
        }
        p {
            font-size: 24px;
            margin: 10px 0 10px 0;
        }
        width: 690px;
    }
    table {
        border-collapse: collapse;
        width: 100%;
        color: var(--font-color);
    }
    th,
    td {
        text-align: center;
        border: 1px solid #eee;
        font-size: 24px;
        font-weight: 400;
        word-break: break-word;
        width: 20%;
    }
}
