@use '../../../common/yiyabase' as *;
@include borderv(var(--adm-border-color), 1px);
body {
    background: #f9f9f9;
}
.grade {
    box-sizing: border-box;
    padding: 32px;
    .adm-tabs-content {
        padding: 0;
    }
    .tem-tab {
        .adm-tabs-header {
            margin-bottom: 20px;
            font-size: 32px;
            font-family:
                PingFang SC-Semibold,
                PingFang SC;
            font-weight: 600;
            color: #666666;
            width: 400px;
        }
        .adm-tabs-tab-wrapper-stretch {
        }
        .no__data {
            color: #000;
            font-size: 26px;
            height: 500px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .adm-tabs-tab-line {
            background: linear-gradient(90deg, #6beaf9 0%, #61ddf9 100%);
        }
    }

    .grade__tab1 {
        .g__header {
            display: flex;
            justify-content: space-between;
            .s__bar {
                width: 530px;
                height: 76px;
                background: rgba(153, 153, 153, 0.2);
                border-radius: 58px 58px 58px 58px;
            }
            .adm-search-bar .adm-search-bar-input-box {
                background: transparent;
                border: none;
            }
            .search__btn {
                width: 134px;
                height: 76px;
                background: linear-gradient(90deg, #6beaf9 0%, #61ddf9 100%);
                border-radius: 16px 16px 16px 16px;
                color: #fff;
                font-size: 28px;
            }
        }
    }
    .grade__list {
        margin-top: 48px;
        ul {
            li {
                width: 686px;
                height: 224px;
                background: #ffffff;
                border-radius: 16px 16px 16px 16px;
                display: flex;
                justify-content: space-between;
                box-sizing: border-box;
                padding: 32px 16px 32px 38px;
                margin-bottom: 32px;
                .li__left {
                    display: flex;
                    .li__left-pic {
                        img {
                            width: 160px;
                            height: 160px;
                            border-radius: 16px 16px 16px 16px;
                        }
                        margin-right: 16px;
                    }
                    .li__left-info {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        .li__left-name {
                            font-size: 32px;

                            font-weight: 600;
                            color: #333333;
                            line-height: 38px;
                            width: 280px;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }
                        .li__left-alias {
                            display: flex;
                            align-items: center;
                            .alias__pic {
                                img {
                                    width: 36px;
                                    height: 36px;
                                    border-radius: 50%;
                                }
                                margin-right: 8px;
                            }
                            .alias__name {
                                font-size: 24px;

                                font-weight: 500;
                                color: #333333;
                                line-height: 28px;
                                width: 200px;
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                            }
                        }
                        .li__left-id {
                            font-size: 24px;

                            font-weight: 400;
                            color: #999999;
                            line-height: 28px;
                        }
                    }
                }
                .li__right {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                }

                .li__right-add {
                    width: 138px;
                    height: 56px;
                    background: linear-gradient(
                        90deg,
                        #6beaf9 0%,
                        #61ddf9 100%
                    );
                    border-radius: 16px 16px 16px 16px;
                    font-size: 24px;
                    font-weight: 400;
                    color: #ffffff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .li__right-add:active {
                    opacity: 0.7;
                }
                .li__right-adding,
                .li__right-added {
                    width: 138px;
                    height: 56px;
                    background: rgba(153, 153, 153, 0.3);
                    border-radius: 16px 16px 16px 16px;
                    font-size: 28px;
                    font-weight: 400;
                    color: #ffffff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .li__right-concat {
                    width: 138px;
                    height: 56px;
                    background: transparent;
                    border-radius: 16px 16px 16px 16px;
                    font-size: 28px;
                    font-weight: 400;
                    color: #4587f7;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}

.grade__im {
    box-sizing: border-box;
    padding: 400px 30px 30px 30px;
    .g__im {
        font-size: 32px;
        font-weight: 400;
        color: #000;
        text-align: center;
        .g__im-num {
            margin-bottom: 100px;
        }
    }
    .a-button {
        margin-bottom: 30px;
        button {
            padding: 10px 70px;
        }
    }
}
