.l-centerOverlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
   
    .mask {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        background: rgba(0, 0, 0, 0.4);
    }
    
}
.center-content{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 3;
    background: #fff;
    width: 80%;
    border-radius: 20px;
    height: 500px;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 30px;
    
}
.close-btn{
    position: absolute;
    right: 20px;
    top: 20px;
    width: 40px;
    height: 40px;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    svg{
        width: 20px;
    height: 20px;
    }
}